{% extends "@EventNight/base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {% embed '@EventNight/navbarDefault.html.twig' %}
    {% endembed %}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container-fluid">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-4 col-lg-offset-3">
                    <label>Votre Email:</label>
                    {{ form_widget(form.Email) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-3">
                    <label>Objet:</label>
                    {{ form_widget(form.Objet) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-3">
                    <label>Votre message:</label>
                    {{ form_widget(form.Message) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-3">
                    {{ form_widget(form.Envoyer) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block footer %}
    {% embed '@EventNight/footer.html.twig'%}{% endembed %}
{% endblock %}