{% extends  '@EventNight/base.html.twig'%}
{% block title %} Accueil {% endblock %}

{% block body%}
    {% embed "@EventNight/navbarDefault.html.twig" %}
    {% endembed %}

    <div class="container-fluid text-center bg-grey ">
        <div class="row">
            <div class="col-xs-12" style="    padding-right: 0px; padding-left: 0 !important;">
                <div class="impPreWrapper">
                    <img class="imgPre" style="position: absolute;" src="{{ asset('images/p.png') }}">
                    <img class="imgPre" src="{{ asset('images/presentation.jpg') }}">
                </div>
                <h2 class="textePresentation">Retrouvez tous vos mangakas préférés à l'exposition manga du 01 février 2017

                </h2>

            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-black">
        <div class="row">
            <div class="col-md-8 col-lg-12">
                <h2>Rencontrez votre Mangaka favori</h2>
                <hr/>
                <h4>Masashi Kishimoto est un mangaka et un scénariste japonais né le 8 novembre 1974 à Nagi dans la préfecture d'Okayama, au Japon. Il est surtout connu pour être l'auteur du manga Naruto.</h4>

            </div>
        </div>
        </div>
    <div class="container-fluid text-center bg-grey">
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
                <h2>Présence du mangaka Masahi Kishimoto</h2>
                <hr/>
                <h4>Masashi Kishimoto est un mangaka et un scénariste japonais né le 8 novembre 1974 à Nagi dans la préfecture d'Okayama, au Japon. Il est surtout connu pour être l'auteur du manga Naruto.</h4>

                <img class="img-responsive" style="margin:auto;margin-bottom: 30px;margin-top: 30px;border-radius: 15px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); background: white; border: 1px #a8a8a8 solid;" src="{{ asset('images/auteur/MK.jpg') }}">
            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-black">
        <div class="row">
            <div class="col-md-8 col-lg-12">
                <h2>Venez poser vos questions à nos partenaire</h2>
                <hr/>
                <p>Venez poser toutes vos questions à nos partenaires que ce soit le financement de la création d'un manga ou encore des questions sur les mangas licenciés</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <img class="img-responsive img-part" src="{{ asset('images/img_partenaire/shonen_jump.jpg') }}">
                <br/>
                <p>Weekly Shōnen Jump, fréquemment abrégé en Shōnen Jump, est un magazine de prépublication de mangas hebdomadaire de type shōnen créé par l’éditeur Shūeisha le 2 juillet 1968 et toujours en cours de publication. Il fait partie de la gamme de presse « Jump » de l’éditeur, celle-ci étant destinée à un public masculin de tous âges.</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <img class="img-responsive img-part" src="{{ asset('images/img_partenaire/kana.jpg') }}">
                <br/>
                <p>Kana est une maison d'édition filiale du groupe Dargaud créée en 1996 et spécialisée dans l'édition de mangas.</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <img class="img-responsive img-part" src="{{ asset('images/img_partenaire/glenat.png') }}">
                <br/>
                <p>Glénat est une maison d'édition française présente dans le domaine de la bande dessinée, du manga et du beau-livre. Le groupe comprend également Vents d'Ouest et Zenda. Il reprend, mi-2007, le fonds bande dessinée « l'Échos des Savanes/Albin Michel », sous le nouveau label « Drugstore » et en septembre 2013 les actifs des éditions 12 bis comprenant l'ensemble du catalogue, à l'exception toutefois des ouvrages de François Bourgeon, récupérés par ce dernier.</p>
            </div>
        </div>
    </div>


    <div class="container-fluid text-center bg-grey">
        <div class="row">
            <div class="col-md-8 col-lg-12">
                <h2>Venez assister à la remise des prix du concours de dessin</h2>
                <hr/>
                <p>Sélection parmis les dessins envoyé par un groupe de jury dont Masahi Kishimoto</p>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center bg-black">
        <h2 style="color:#E0893C">Déssins pré-sélectionnés par les jury</h2>
        <div id="mSlide" class="carousel slide carousel-fade" data-ride="carousel" >

            <ol class="carousel-indicators">
                <li data-target="#mSlide" data-slide-to="0" class="active"></li>
                <li data-target="#mSlide" data-slide-to="1"></li>
                <li data-target="#mSlide" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive imgCar" src="{{ asset('images/img_fan/07_by_ningar-d8bky3e.jpg') }}">
                </div>
                <div class="item">
                    <img class="img-responsive imgCar" src="{{ asset('images/img_fan/Kaneki.Ken.full.1810432.jpg') }}">
                </div>
                <div class="item">
                    <img class="img-responsive imgCar" src="{{ asset('images/img_fan/untitled_by_jesusagudo-d6vmyw7.jpg') }}">
                </div>
            </div>

            <a class="left carousel-control left" href="#mSlide" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control right" href="#mSlide" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-xs-12">
                <h2>Nous rejoindre au salon</h2>
                <p>Parc des Expositions de Villepinte Paris Nord II</p>
                <p>93 420 Villepinte</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="map" style="height:400px;width:100%;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block googleMap %}
    <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var pos = new google.maps.LatLng(48.97719, 2.542867)
            var mapOptions = {
                center: pos,
                zoom: 13
            };

             var map = new google.maps.Map(mapCanvas, mapOptions);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD42lxRuqYorfzaV_HIei4p5vLa4d1KeGk&callback=myMap"></script>
{% endblock %}
{% block footer %}
    {% embed '@EventNight/footer.html.twig'%}{% endembed %}
{% endblock %}
