{% extends 'EventNightBundle::base.html.twig' %}
{% block body %}

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Event</a>
            </div>
            <div class="collapse navbar-collapse" id="navB">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}">Retour à l'accueil</a></li>
                    <li><a href="{{ path('homepage') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Modification de l'utilisateur</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Enregistrer les modifications" />
    {{ form_end(edit_form) }}

    <lu>
        <a href="{{ path('users_index') }}">Retour à la liste d'inscrit</a>
    </lu>
    <ul>
        {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer l'utilisateur">
        {{ form_end(delete_form) }}
    </ul>
{% endblock %}
