{% extends 'EventNightBundle::base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Event</a>
            </div>
            <div class="collapse navbar-collapse" id="navB">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('homepage') }}">Retour à l'accueil</a></li>
                    <li><a href="{{ path('homepage') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Liste d'inscrit à l'évènement</h1>

    <div>
        <table style="text-align: center">
            <tr style="border-bottom: 1px solid #000">
                <th>Type d'utilisateur</th>
                <th>Etat de l'inscription</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Mail</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>

            {% for user in users %}
                <tr style="border-bottom: 1px solid #000">
                    <td>{{ user.typeUser }}</td>
                    <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.acces }}</a></td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.adresse }},<br> {{ user.cp }} <br> {{ user.ville }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.id }}</td>
                    <td>
                        <ul>
                                <a href="{{ path('users_show', { 'id': user.id }) }}" data-toggle="tooltip" title="Afficher"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </ul>
                        <ul>
                                <a href="{{ path('users_edit', { 'id': user.id }) }}" data-toggle="tooltip" title="Modifier"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>

                        </ul>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}
