{% extends 'EventNightBundle::base.html.twig' %}

{% block body %}
    {% embed "@EventNight/navbarDefault.html.twig" %}
    {% endembed %}

    <h1>Utilisateur inscrit</h1>

    <table>
        <tbody>
            <tr>
                <th>Type de l'utilisateur</th>
                <td>{{ user.typeUser }}</td>
            </tr>
            <tr>
                <th>Etat de l'inscription</th>
                <td>{{ user.acces }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ user.cp }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Genre du manga</th>
                <td>{{ user.genre }}</td>
            </tr>
            <tr>
                <th>Couverture du manga</th>
                <td>{{ user.couverture }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <a href="{{ path('users_index') }}">Retour à la liste</a>
    </ul>
    <ul>
        <a href="{{ path('users_edit', { 'id': user.id }) }}">Modifier</a>
    </ul>
    <ul>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </ul>
{% endblock %}

{% block footer %}
    {% embed '@EventNight/footer.html.twig'%}{% endembed %}
{% endblock %}